@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: "Jost", sans-serif;
  font-size: 62.5%; }

a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #323A56;
  line-height: 120%; }

h1 {
  font-size: 3.4rem;
  font-weight: 600; }

h2 {
  font-weight: 600; }

p {
  font-size: 1.6rem;
  font-weight: normal;
  color: #595f74; }

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  max-width: 100vw;
  background-color: #F4F4F4;
  padding-bottom: 15rem;
  position: relative; }

.slick-track {
  display: flex; }

.slick-center p {
  opacity: 1 !important; }

*:not(nav) {
  z-index: 1; }

popup-toggle {
  cursor: pointer; }

a {
  display: inline-block; }

.section-button {
  text-align: center;
  margin: 5rem 0; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

.mt-10 {
  margin-top: 10rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-y-10 {
  margin: 10rem 0 !important; }

.p-5 {
  padding: 5rem !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.breadcrumbs {
  font-size: 1.3rem;
  color: #acafb9;
  margin-bottom: 1rem;
  display: block; }

.color-blue-light {
  color: #75BDFF !important; }

.color-white {
  color: #fff !important; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #253D93;
  font-size: 1.4rem;
  z-index: 10; }
  .nav_content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F48A5;
    padding: 1.6rem 0;
    max-width: 125rem;
    width: 100%; }
    .nav_content-menu {
      margin-right: -3rem; }
      .nav_content-menu ul {
        list-style: none;
        display: flex; }
        .nav_content-menu ul li {
          margin: 0 1rem;
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: 2px dotted transparent;
          position: relative; }
          .nav_content-menu ul li a {
            font-size: inherit; }
          .nav_content-menu ul li:after {
            content: "";
            position: absolute;
            bottom: -.2rem;
            left: 0;
            width: 0;
            border-bottom: 2px solid #fff;
            opacity: .5;
            transition: all .5s ease; }
          .nav_content-menu ul li.marked:after {
            border-color: #FFB240;
            opacity: .5; }
          .nav_content-menu ul li.marked a {
            color: #FFB240; }
          .nav_content-menu ul li:hover:after {
            width: 100%; }
    .nav_content-phone {
      display: flex;
      align-items: center;
      position: relative; }
      .nav_content-phone-icon {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem; }
        .nav_content-phone-icon img {
          height: 100%;
          width: 100%; }
      .nav_content-phone .number {
        font-size: inherit;
        font-weight: 600;
        color: #75BDFF;
        border-bottom: 2px dotted rgba(117, 189, 255, 0.5);
        transition: all .3s; }
        .nav_content-phone .number:hover {
          color: #FFB240;
          border-bottom: 2px dotted transparent; }
      .nav_content-phone .popup {
        position: absolute;
        top: 180%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 22rem;
        height: 0;
        transition: all 0.7s ease; }
        .nav_content-phone .popup.active {
          height: 15rem;
          padding: 2rem 0; }
        .nav_content-phone .popup .title {
          font-size: 1.6rem;
          font-weight: normal; }
        .nav_content-phone .popup .time {
          font-size: 1.6rem;
          font-weight: bold;
          margin-top: .5rem;
          margin-bottom: 1.5rem; }

.header {
  width: 100%;
  min-height: 95vh;
  background-color: #253D93;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem; }
  .header_content {
    background-image: url("../img/backgrounds/header-1x.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65%;
    max-width: 125rem;
    width: 100%;
    margin: 10rem auto;
    display: flex;
    justify-content: space-between; }
    .header_content .left {
      width: 37rem; }
      .header_content .left .small {
        font-size: 1.6rem;
        font-weight: 500;
        color: #75BDFF; }
      .header_content .left .title {
        margin-top: 3rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: #fff; }
    .header_content .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .header_content .right .services-item:not(:last-child) {
        margin-bottom: 1.5rem; }

.section-services {
  width: 100%;
  padding-bottom: 3rem; }
  .section-services .section-title {
    margin: 4rem auto; }
  .section-services__content {
    max-width: 125rem;
    width: 100%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.section-part {
  width: 100%;
  padding-bottom: 7rem; }
  .section-part__content {
    width: 100%;
    margin: auto;
    margin-top: 10rem;
    min-height: 49rem;
    max-width: 125rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 4rem 5rem;
    position: relative;
    background: linear-gradient(0deg, #1E3176 0%, #1E3176 50%, transparent 50%, transparent 100%); }
    .section-part__content .background-image {
      position: absolute;
      bottom: 0;
      left: 22%; }
    .section-part__content-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%; }
      .section-part__content-left .top {
        display: block; }
        .section-part__content-left .top h2 {
          font-weight: 500;
          font-size: 2.4rem;
          margin-bottom: 2rem; }
      .section-part__content-left > * {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .section-part__content-left > * a {
          width: max-content; }
      .section-part__content-left .bottom {
        height: 40%;
        justify-content: space-between; }
        .section-part__content-left .bottom p {
          color: #fff; }
    .section-part__content-right {
      width: 60%;
      background-color: #fff;
      padding: 4.5rem 3rem; }
      .section-part__content-right ul.grid {
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap; }
        .section-part__content-right ul.grid .item {
          width: 50%;
          padding-right: 4rem;
          display: flex;
          align-items: center; }
          .section-part__content-right ul.grid .item:nth-child(odd) {
            border-right: 1px solid #F4F4F4; }
          .section-part__content-right ul.grid .item:nth-child(even) {
            width: 45%; }
          .section-part__content-right ul.grid .item .icon {
            width: 5rem;
            height: 5rem;
            margin-right: 2rem; }
            .section-part__content-right ul.grid .item .icon img {
              height: 100%;
              width: auto; }
          .section-part__content-right ul.grid .item p {
            font-size: 1.6rem;
            font-weight: 500;
            color: #323A56; }

.section-blog {
  width: 100%; }
  .section-blog__content {
    width: 100%;
    max-width: 125rem;
    margin: auto; }
    .section-blog__content .grid {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      .section-blog__content .grid .item {
        min-height: 48rem;
        width: 38rem;
        position: relative;
        transition: all .3s;
        background-color: #fff; }
        .section-blog__content .grid .item:hover {
          transform: translateY(-5px);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
          .section-blog__content .grid .item:hover .title h2 {
            color: #E43232; }
          .section-blog__content .grid .item:hover .more .hidden {
            opacity: 1;
            max-width: 80%; }
        .section-blog__content .grid .item .intro {
          position: relative;
          width: 100%;
          height: 28rem;
          overflow: hidden; }
          .section-blog__content .grid .item .intro .new {
            text-transform: uppercase;
            font-size: 1.2rem;
            padding: 1rem 1.4rem;
            position: absolute;
            top: 2.5rem;
            left: 0;
            background-color: #E43232;
            z-index: 2;
            font-weight: bold;
            color: #fff; }
          .section-blog__content .grid .item .intro img {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto; }
        .section-blog__content .grid .item .content {
          padding: 3rem 3.5rem;
          min-height: 18.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .section-blog__content .grid .item .content .item-more {
            display: flex;
            justify-content: space-between; }
            .section-blog__content .grid .item .content .item-more .date {
              font-size: 1.3rem;
              font-weight: 400;
              color: #acafb9; }
          .section-blog__content .grid .item .content .title h2 {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 140%;
            transition: all 0.7s; }

.section-map {
  width: 100%;
  padding-bottom: 15rem;
  background: linear-gradient(0deg, #253D93 0%, #253D93 40%, transparent 40%, transparent 100%); }
  .section-map__content {
    width: 100%;
    background-color: #fff;
    max-width: 125rem;
    margin: auto;
    display: flex;
    flex-direction: column; }
    .section-map__content .content {
      display: flex;
      justify-content: space-between; }
      .section-map__content .content .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 6.5rem;
        margin-bottom: 4rem; }
        .section-map__content .content .left h2 {
          font-size: 3.4rem;
          font-weight: 500;
          color: #323A56;
          line-height: 120%;
          margin-bottom: 2rem; }
        .section-map__content .content .left p {
          font-size: 1.6rem;
          line-height: 140%;
          color: #595f74; }
      .section-map__content .content .right {
        display: flex;
        justify-content: space-between; }
        .section-map__content .content .right .item {
          width: 28%;
          height: 85%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .section-map__content .content .right .item:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            height: 3px;
            width: 6.4rem;
            background-color: #FFB240; }
          .section-map__content .content .right .item h1 {
            font-size: 4.8rem;
            font-weight: bold;
            color: #323A56; }
          .section-map__content .content .right .item p {
            font-size: 1.6rem;
            line-height: 140%;
            color: #595f74; }
      .section-map__content .content > * {
        width: 50%; }
    .section-map__content .map {
      height: 50rem; }

.services {
  width: 100%; }
  .services__content {
    width: 100%;
    max-width: 125rem;
    margin: auto; }
    .services__content .item {
      width: 100%;
      min-height: 45rem;
      background-color: #253D93;
      display: flex;
      margin-bottom: 4rem; }
      .services__content .item:nth-child(even) {
        flex-direction: row-reverse; }
      .services__content .item > * {
        width: 50%; }
      .services__content .item__left {
        padding: 6.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .services__content .item__left .top h1 {
          color: #fff;
          margin-bottom: 2.4rem; }
        .services__content .item__left .top p {
          font-size: 1.8rem;
          color: #fff; }
        .services__content .item__left .bottom a:not(:last-child) {
          margin-right: 2rem; }
      .services__content .item__right {
        overflow: hidden;
        position: relative; }
        .services__content .item__right img {
          position: absolute;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%; }

.services-main > * {
  margin-bottom: 4rem; }

.services-header {
  width: 100%;
  background-color: #253D93;
  min-height: 48rem;
  padding-top: 6rem; }
  .services-header-content {
    width: 100%;
    max-width: 125rem;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .services-header-content__left {
      width: 50%; }
      .services-header-content__left h1 {
        color: #fff;
        font-weight: bold;
        font-size: 4.8rem;
        margin-bottom: 3.5rem; }
      .services-header-content__left p {
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 140%; }
      .services-header-content__left .links {
        display: flex;
        margin-top: 4rem; }
        .services-header-content__left .links a {
          margin-right: 2rem; }
    .services-header-content__right {
      overflow: hidden;
      position: relative;
      z-index: 1; }
      .services-header-content__right img {
        height: 100%; }

.services-section-type {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%; }
  .services-section-type__content {
    width: 100%;
    max-width: 105rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .services-section-type__content .item {
      background-color: red;
      height: 38rem;
      margin-bottom: 5rem;
      width: 38%;
      position: relative;
      cursor: pointer;
      overflow: hidden; }
      .services-section-type__content .item img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0; }
      .services-section-type__content .item:nth-child(3n + 1) {
        width: 58%; }
      .services-section-type__content .item .descr {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 34rem;
        height: 14rem;
        padding: 2rem;
        background-color: #253D93;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .services-section-type__content .item .descr h2 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 140%;
          color: #fff; }
        .services-section-type__content .item .descr .link {
          display: flex;
          align-items: center; }
          .services-section-type__content .item .descr .link i {
            font-size: 2.4rem;
            font-weight: 400;
            color: #FFB240; }
          .services-section-type__content .item .descr .link p {
            margin-right: 1rem;
            color: #FFB240;
            text-transform: uppercase;
            font-weight: 500;
            overflow: hidden;
            max-width: 0;
            transition: all 0.7s; }
      .services-section-type__content .item:hover .descr .hidden {
        max-width: 10rem; }

.services-section-slider {
  width: 100%;
  background-color: #253D93;
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  position: relative; }
  .services-section-slider__content {
    width: 100%; }

.services-section-privileges {
  margin-top: 10rem;
  width: 100%;
  margin-bottom: 20rem; }
  .services-section-privileges__content {
    width: 100%;
    max-width: 105rem;
    margin: auto; }
    .services-section-privileges__content .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 33rem;
      position: relative;
      background-color: #fff; }
      .services-section-privileges__content .item:nth-child(even) {
        flex-direction: row-reverse; }
      .services-section-privileges__content .item .left {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden; }
        .services-section-privileges__content .item .left img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto; }
      .services-section-privileges__content .item .right {
        padding: 4rem;
        width: 50%; }
        .services-section-privileges__content .item .right .descr {
          margin-top: 2rem; }
        .services-section-privileges__content .item .right .title {
          display: flex;
          padding-bottom: 2rem;
          border-bottom: 1px solid #F4F4F4; }
          .services-section-privileges__content .item .right .title h1 {
            width: 80%;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 120%; }
          .services-section-privileges__content .item .right .title .icon {
            text-align: center;
            width: 30%;
            position: relative; }
            .services-section-privileges__content .item .right .title .icon img {
              width: 4.8rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }

.services-section-work {
  width: 100%;
  background-color: #253D93;
  margin-top: -12rem;
  padding-top: 12rem;
  padding-bottom: 8rem; }
  .services-section-work__content {
    width: 100%;
    max-width: 125rem;
    margin: auto; }
    .services-section-work__content .list {
      display: flex;
      justify-content: space-between; }
      .services-section-work__content .list .item {
        width: 24rem; }
        .services-section-work__content .list .item svg {
          fill: #1E3176;
          transition: all 0.7s; }
        .services-section-work__content .list .item h3 {
          font-weight: 500;
          font-size: 1.8rem;
          color: #fff;
          margin: 2.4rem 0; }
        .services-section-work__content .list .item p {
          font-size: 1.6rem;
          line-height: 140%;
          color: #fff;
          opacity: .5;
          transition: all 0.7s; }
        .services-section-work__content .list .item:hover svg {
          fill: #FFB240; }
        .services-section-work__content .list .item:hover p {
          opacity: 1; }
    .services-section-work__content .title {
      padding: 12rem 0 4rem 0;
      color: #fff; }

call-to-action {
  max-width: 125rem;
  width: 100%;
  min-height: 22rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
  z-index: 5; }
  call-to-action .image {
    height: 100%;
    background-color: #FFB240; }
    call-to-action .image img {
      height: 100%; }
  call-to-action .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 6.6rem;
    width: 60%; }
    call-to-action .content h2 {
      font-size: 2.4rem;
      width: 65%;
      color: #323A56;
      line-height: 120%; }
  call-to-action .button {
    position: relative;
    width: 30%; }
    call-to-action .button .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      z-index: 2; }
    call-to-action .button .active {
      animation: spin 5s infinite; }
    call-to-action .button img {
      margin: auto;
      margin-left: -4rem;
      z-index: 1; }

.btn {
  font-size: 2.4rem;
  font-weight: 500;
  color: #FFB240;
  transition: all 0.7s; }
  .btn:hover {
    color: #E43232; }

.btn-primary {
  padding: 1.5rem 2.2rem;
  background-color: #E43232;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  transition: all 0.7s;
  display: inline-block; }
  .btn-primary:hover {
    background-color: #FFB240;
    color: #323A56; }

.btn-alt {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem 2.2rem;
  color: #253D93;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.7s; }
  .btn-alt:hover {
    background-color: #FFB240; }

.btn-outline {
  background-color: transparent;
  border: 2px solid #FFB240;
  border-radius: 4px;
  padding: 1.5rem 2.2rem;
  color: #FFB240;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.7s; }
  .btn-outline:hover {
    background-color: #FFB240;
    color: #595f74; }

.btn-small {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem; }

.more {
  /*opacity: 1;
    color: $color-yellow-primary;
    max-width: 50%;*/
  text-transform: uppercase;
  display: flex;
  transition: color 0.7s; }
  .more .hidden {
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s ease;
    color: #fff; }
  .more i {
    margin-left: 1rem;
    font-weight: lighter;
    font-size: 2.4rem; }
  .more.more-gray .hidden, .more.more-gray i {
    color: #acafb9; }

.btn-outline-light {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 1.4rem 2.2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.7s;
  display: inline-block; }
  .btn-outline-light i {
    margin-left: .5rem;
    transition: all 0.7s; }
  .btn-outline-light:hover {
    background-color: #FFB240;
    color: #253D93;
    border-color: transparent; }
    .btn-outline-light:hover i {
      margin-left: 1.5rem; }

.service-grid.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%; }
  .service-grid.grid .icon {
    align-items: flex-start !important; }
  .service-grid.grid .service-grid-item {
    background-color: #253D93 !important;
    min-height: 24rem;
    transition: all 0.7s;
    margin-bottom: 0; }
    .service-grid.grid .service-grid-item:hover {
      background-color: #1E3176 !important; }

.service-grid-item {
  position: relative;
  width: 41rem;
  background-color: #1E3176;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  min-height: 18rem; }
  .service-grid-item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .service-grid-item .title.title-small {
    font-size: 1.6rem; }
  .service-grid-item .title.title-medium {
    font-size: 2.2rem;
    font-weight: 500; }
  .service-grid-item .icon.no-padding {
    margin-right: -3rem; }
  .service-grid-item .icon {
    display: flex;
    align-items: center; }
  .service-grid-item .content {
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: color 0.7s;
    width: 65%; }
    .service-grid-item .content span {
      color: #75BDFF;
      transition: color 0.7s; }
  .service-grid-item:hover .content {
    color: #FFB240; }
    .service-grid-item:hover .content span {
      color: #FFB240; }
    .service-grid-item:hover .content .more .hidden {
      opacity: 1;
      color: #FFB240;
      max-width: 50%; }

.section-title {
  max-width: 50%;
  text-align: center;
  margin: 4rem auto; }
  .section-title.white > * {
    color: #fff; }
  .section-title h3 {
    font-size: 3.2rem;
    font-weight: 500; }
  .section-title p {
    max-width: 50%;
    margin: 3rem auto; }

page-title {
  display: block;
  width: 100%;
  max-width: 125rem;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
  padding: 5rem 0; }
  page-title span {
    font-size: 1.3rem;
    color: #acafb9;
    margin-bottom: 1rem;
    display: block; }
  page-title h1 {
    font-size: 4.8rem;
    font-weight: bold; }

.contact-us {
  width: 100%; }
  .contact-us__content {
    margin: auto;
    max-width: 125rem;
    width: 100%;
    min-height: 54rem;
    background-color: #253D93;
    display: flex; }
    .contact-us__content-left {
      width: 45%;
      display: flex;
      flex-direction: column;
      padding: 7rem 6rem 5rem 6rem;
      position: relative; }
      .contact-us__content-left .background {
        position: absolute;
        right: 0;
        top: 5rem;
        z-index: -1; }
      .contact-us__content-left .top {
        height: 70%;
        border-bottom: 1px solid #2F48A5; }
        .contact-us__content-left .top .title {
          font-weight: 500;
          font-size: 3.4rem;
          color: #fff;
          width: 50%;
          margin-bottom: 4rem; }
        .contact-us__content-left .top .descr {
          color: #fff; }
      .contact-us__content-left .bottom {
        height: 30%;
        color: #FFB240;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .contact-us__content-left .bottom .phone {
          color: inherit;
          font-size: 2.8rem;
          font-weight: bold; }
        .contact-us__content-left .bottom .descr {
          color: inherit;
          font-size: 1.6rem;
          font-weight: 500; }
    .contact-us__content-right {
      width: 55%;
      background-color: #1E3176; }
      .contact-us__content-right .top {
        height: 70%;
        overflow: hidden;
        position: relative; }
        .contact-us__content-right .top > * {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%; }
      .contact-us__content-right .bottom {
        padding: 5rem 6.5rem;
        display: flex;
        justify-content: space-between; }
        .contact-us__content-right .bottom .descr {
          width: 80%;
          border-right: 1px solid #2F48A5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 5rem; }
          .contact-us__content-right .bottom .descr .address {
            color: #FFB240;
            font-size: 1.8rem;
            font-weight: 500; }
          .contact-us__content-right .bottom .descr p {
            color: #fff;
            font-size: 1.2rem; }

footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  max-width: 125rem;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  border-top: 1px solid #acafb9;
  left: 50%;
  transform: translateX(-50%); }
  footer > * {
    color: #acafb9;
    font-size: 1.6rem; }
  footer a {
    border-bottom: 1px solid transparent;
    transition: all 0.7s; }
  footer a:hover {
    border-color: #acafb9; }

.service-action {
  width: 100%;
  max-width: 110rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 13rem;
  padding: 2rem;
  position: relative;
  background: linear-gradient(90deg, #fff 0%, #fff 60%, #FFB240 60%, #FFB240 100%);
  z-index: 3; }
  .service-action div {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .service-action .descr {
    width: 35%;
    flex-direction: row;
    position: relative; }
    .service-action .descr .button {
      position: relative;
      margin-right: 2rem; }
      .service-action .descr .button .active {
        animation: spin 5s infinite; }
      .service-action .descr .button a {
        font-size: 2rem;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: block; }
        .service-action .descr .button a i {
          font-weight: 300; }
        .service-action .descr .button a:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: #ff9903;
          z-index: -3; }
        .service-action .descr .button a:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: #f39100;
          z-index: -1;
          height: 0;
          width: 0;
          transition: all 0.7s; }
        .service-action .descr .button a:hover:before {
          height: 5rem;
          width: 5rem; }
    .service-action .descr .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%; }
  .service-action h3 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: #323A56; }
  .service-action p {
    font-size: 1.3rem;
    color: #595f74; }

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  justify-content: space-between;
  position: relative; }
  .slider__content .item {
    width: 83rem;
    height: auto;
    text-align: center;
    display: inline-block;
    margin: auto 5rem; }
    .slider__content .item image {
      height: 57rem;
      width: 83rem;
      position: relative;
      overflow: hidden; }
      .slider__content .item image img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .slider__content .item p {
      color: #acafb9;
      font-size: 1.3rem;
      opacity: 0;
      transition: all 0.7s; }
  .slider .arrows {
    width: 99rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; }
    .slider .arrows > * {
      width: 6rem;
      height: 6rem;
      background-color: #fff;
      position: relative; }
      .slider .arrows > *:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 0;
        background-color: #F4F4F4;
        transition: all 0.7s; }
    .slider .arrows .right:hover:after {
      height: 6rem;
      width: 6rem; }
    .slider .arrows .left:hover:after {
      height: 6rem;
      width: 6rem; }
    .slider .arrows i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #253D93;
      font-size: 2rem;
      font-weight: 400; }
