@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: "Jost", sans-serif;
  font-size: 62.5%; }

a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 600; }

p {
  font-size: 1.6rem;
  font-weight: normal;
  color: #595F74; }

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  max-width: 100vw; }

*:not(nav) {
  z-index: 1; }

popup-toggle {
  cursor: pointer; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #253D93;
  font-size: 1.4rem;
  z-index: 10; }
  .nav_content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F48A5;
    padding: 1.6rem 0;
    max-width: 125rem;
    width: 100%; }
    .nav_content-menu {
      margin-right: -3rem; }
      .nav_content-menu ul {
        list-style: none;
        display: flex; }
        .nav_content-menu ul li {
          margin: 0 1rem;
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: 2px dotted transparent;
          position: relative; }
          .nav_content-menu ul li a {
            font-size: inherit; }
          .nav_content-menu ul li:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            border-bottom: 1px solid #fff;
            opacity: .5;
            transition: all .5s ease; }
          .nav_content-menu ul li.marked:after {
            border-color: #FFB240;
            opacity: .5; }
          .nav_content-menu ul li.marked a {
            color: #FFB240; }
          .nav_content-menu ul li:hover:after {
            width: 100%; }
    .nav_content-phone {
      display: flex;
      align-items: center;
      position: relative; }
      .nav_content-phone-icon {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem; }
        .nav_content-phone-icon img {
          height: 100%;
          width: 100%; }
      .nav_content-phone .number {
        font-size: inherit;
        font-weight: 600;
        color: #75BDFF;
        border-bottom: 2px dotted rgba(117, 189, 255, 0.5);
        transition: all .3s; }
        .nav_content-phone .number:hover {
          color: #FFB240;
          border-bottom: 2px dotted transparent; }
      .nav_content-phone .popup {
        position: absolute;
        top: 180%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 22rem;
        height: 0;
        transition: all .7s ease; }
        .nav_content-phone .popup.active {
          height: 15rem;
          padding: 2rem 0; }
        .nav_content-phone .popup .title {
          font-size: 1.6rem;
          font-weight: normal; }
        .nav_content-phone .popup .time {
          font-size: 1.6rem;
          font-weight: bold;
          margin-top: .5rem;
          margin-bottom: 1.5rem; }

.header {
  width: 100%;
  min-height: 95vh;
  background-color: #253D93;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem; }
  .header_content {
    background-image: url("../img/backgrounds/header-1x.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65%;
    max-width: 125rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .header_content .left {
      width: 37rem; }
      .header_content .left .small {
        font-size: 1.6rem;
        font-weight: 500;
        color: #75BDFF; }
      .header_content .left .title {
        margin-top: 3rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: #fff; }
    .header_content .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .header_content .right .services-item:not(:last-child) {
        margin-bottom: 1.5rem; }

.section-services {
  width: 100%;
  background-color: #F4F4F4;
  padding-bottom: 3rem; }
  .section-services .call_to_action {
    margin-top: -4rem; }
  .section-services .section-title {
    margin: 4rem auto; }
  .section-services__content {
    max-width: 125rem;
    width: 100%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .section-services__content .button {
      text-align: center;
      margin: 5rem 0; }

.call_to_action {
  max-width: 125rem;
  width: 100%;
  height: 22rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto; }
  .call_to_action .image {
    height: 100%;
    background-color: #FFB240; }
    .call_to_action .image img {
      height: 100%; }
  .call_to_action .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 6.6rem;
    width: 60%; }
    .call_to_action .content h2 {
      font-size: 2.4rem;
      width: 65%;
      color: #323A56;
      line-height: 120%; }
  .call_to_action .button {
    position: relative;
    width: 30%; }
    .call_to_action .button .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      z-index: 2; }
    .call_to_action .button .active {
      animation: spin 5s infinite; }
    .call_to_action .button img {
      margin: auto;
      margin-left: -4rem;
      z-index: 1; }

.btn-primary {
  padding: 1.5rem 2.2rem;
  background-color: #E43232;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  transition: all .7s;
  display: block; }
  .btn-primary:hover {
    background-color: #FFB240;
    color: #323A56; }

.btn-small {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem; }

.btn-alt {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem 2.2rem;
  color: #253D93;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .7s; }
  .btn-alt:hover {
    background-color: #FFB240; }

.services.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%; }
  .services.grid .icon {
    align-items: flex-start !important; }
  .services.grid .services-item {
    background-color: #253D93 !important;
    min-height: 24rem; }

.services-item {
  position: relative;
  width: 41rem;
  background-color: #1E3176;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  min-height: 18rem; }
  .services-item .title.title-small {
    font-size: 1.6rem; }
  .services-item .title.title-medium {
    font-size: 2.2rem;
    font-weight: 500; }
  .services-item .icon.no-padding {
    margin-right: -3rem; }
  .services-item .icon {
    display: flex;
    align-items: center; }
  .services-item .content {
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: color .7s;
    width: 65%; }
    .services-item .content span {
      color: #75BDFF;
      transition: color .7s; }
    .services-item .content .more {
      text-transform: uppercase;
      display: flex;
      transition: color .7s; }
      .services-item .content .more .hidden {
        font-weight: bold;
        font-size: 1.5rem;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .7s ease;
        color: #fff; }
      .services-item .content .more i {
        margin-left: 1rem;
        font-weight: lighter;
        font-size: 2.4rem; }
  .services-item:hover .content {
    color: #FFB240; }
    .services-item:hover .content span {
      color: #FFB240; }
    .services-item:hover .content .more .hidden {
      opacity: 1;
      color: #FFB240;
      max-width: 50%; }

.section-title {
  width: 50%;
  text-align: center;
  margin: auto; }
  .section-title h3 {
    font-size: 3.2rem;
    font-weight: 500; }
