.mt-10 {
  margin-top: 10rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-y-10 {
  margin: 10rem 0 !important;
}

.p-5 {
  padding: 5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.breadcrumbs {
  font-size: 1.3rem;
  color: $color-gray;
  margin-bottom: 1rem;
  display: block;
}
.color_blue_light{
  color: $color-blue-primary-hover !important;
}