.header {
  width: 100%;
  min-height: 95vh;
  background-color: $color-blue-primary;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem;

  &_content {
    background-image: url("../img/backgrounds/header-1x.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65%;
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      width: 37rem;

      .small {
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-blue-primary-hover;
      }

      .title {
        margin-top: 3rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: $color-white;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .services-item {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}