Options -Indexes

AddDefaultCharset UTF-8

RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^assets/(.*) assets/$1 [L]

RewriteRule ^(.*)$ index.php [L]