.about-header {
  q {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: $color-yellow-primary;
    padding: 0 4rem;
    display: inline-block;
    quotes: none;
    position: relative;

    .quote {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: $color-blue-lighter;
    margin: 6rem 0;
  }

  .descr {
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 140%;
      color: $color-white;
    }

    p {
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 140%;
      color: $color-white;
      opacity: .5;
    }
  }

  .about-right {
    overflow: visible;

    .banner {
      padding: 3rem 4rem;
      background-color: $color-yellow-primary;
      position: absolute;
      bottom: -5rem;
      width: 120%;

      h1 {
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 120%;
        margin-bottom: 2rem;
      }

      p {
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 140%;
        color: $color-text-primary;
      }
    }
  }
}