.btn {
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-yellow-primary;
  transition: all $default-transition-duration;

  &:hover {
    color: $color-orange-primary;
  }
}

.btn-primary {
  padding: 1.5rem 2.2rem;
  background-color: $color-orange-primary;
  border-radius: $default-border-radius;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: $color-white;
  transition: all $default-transition-duration;
  display: block;


  &:hover {
    background-color: $color-yellow-primary;
    color: $color-text-primary;
  }
}

.btn-alt {
  background-color: $color-white;
  border-radius: $default-border-radius;
  padding: 1.5rem 2.2rem;
  color: $color-blue-primary;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all $default-transition-duration;

  &:hover {
    background-color: $color-yellow-primary;
  }
}

.btn-outline {
  background-color: transparent;
  border: 2px solid $color-yellow-primary;
  border-radius: $default-border-radius;
  padding: 1.5rem 2.2rem;
  color: $color-yellow-primary;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all $default-transition-duration;

  &:hover {
    background-color: $color-yellow-primary;
    color: $color-text-gray;
  }
}

.btn-small {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
}

.more {

  // Hover state will be written separetely
  /*opacity: 1;
    color: $color-yellow-primary;
    max-width: 50%;*/

  text-transform: uppercase;
  display: flex;
  transition: color $default-transition-duration;

  .hidden {
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all $default-transition-duration ease;
    color: $color-white;
  }

  i {
    margin-left: 1rem;
    font-weight: lighter;
    font-size: 2.4rem;
  }

  &.more-gray {
    .hidden, i {
      color: $color-gray;
    }
  }
}