.cafe-vertical {
  max-width: 83rem;
  width: 100%;
  display: flex;
  background-color: $color-blue-primary;
  margin: 6rem auto;
  min-height: 16.6rem;

  .image {
    width: 50%;
    text-align: center;
  }

  .left {
    padding: 3rem 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      color: $color-white;

      span {
        color: $color-blue-primary-hover;
      }
    }

    a {
      display: flex;
      align-items: center;

      i {
        margin-left: 1rem;
        font-size: 2.4rem;
        font-weight: 200;
      }
    }

    a, p {
      color: $color-yellow-primary;
      font-weight: bold;
      font-size: 13px;
      line-height: 160%;
      text-transform: uppercase;
    }
  }
}