.call_to_action {
  width: $content-width;
  height: 22rem;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;

  .image {
    height: 100%;
    background-color: $color-yellow-primary;
    img{
      height: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding:0 6.6rem;
    width: 60%;

    h2 {
      font-size: 2.4rem;
      width: 65%;
      color: $color-text-primary;
      line-height: 120%
    }



  }
  .button {
    position: relative;
    width: 30%;

    .btn {
      @include centering;
      width: max-content;


    }
    .btn:hover ~ img{
      animation: spin 5s infinite;
    }
    img {
      margin: auto;

    }
  }
}
