.section-title {
  max-width: 50%;
  text-align: center;
  margin: 4rem auto;

  &.white {
    & > * {
      color: $color-white;
    }
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 500;
  }

  p {
    max-width: 50%;
    margin: 3rem auto;
  }

  @include respond-to(medium) {
      max-width: 90%;
  }
}