.service-grid {
  &.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;

    .icon {
      align-items: flex-start !important;
    }

    .service-grid-item {
      background-color: $color-blue-primary !important;
      min-height: 24rem;
      transition: all $default-transition-duration;
      margin-bottom: 0;

      &:hover{
        background-color: $color-blue-primary-dark !important;
      }
    }
  }

  &-item {
    position: relative;
    width: 41rem;
    background-color: $color-blue-primary-dark;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    min-height: 18rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .title.title-small {
      font-size: 1.6rem;
    }

    .title.title-medium {
      font-size: 2.2rem;
      font-weight: 500;
    }

    .icon.no-padding {
      margin-right: -3rem;
    }

    .icon {
      display: flex;
      align-items: center;
    }

    .content {
      font-size: 2.8rem;
      font-weight: 500;
      color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: color $default-transition-duration;
      width: 65%;

      span {
        color: $color-blue-primary-hover;
        transition: color $default-transition-duration;
      }
    }

    &:hover {
      .content {
        color: $color-yellow-primary;

        span {
          color: $color-yellow-primary;
        }

        .more {
          .hidden {
            opacity: 1;
            color: $color-yellow-primary;
            max-width: 50%;
          }
        }
      }
    }
  }

  @include respond-to(medium) {
    &.grid {
      padding: 0 $default-section-px;

      .service-grid-item {
        min-height: min-content;
        border: 1px solid $color-blue-lighter;

        .more {
          display: none;
        }
      }
    }
  }
}