.service-action {
  width: 100%;
  max-width: $service-action-width;
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 13rem;
  padding: 2rem;
  position: relative;
  background: linear-gradient(90deg, $color-white 0%, $color-white 60%, $color-yellow-primary 60%, $color-yellow-primary 100%);
  z-index: 3;

  &.half {
    background-image: linear-gradient(90deg, $color-white 0%, $color-white 50%, $color-yellow-primary 50%, 100%, $color-yellow-primary);

    .descr {
      width: 50%;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .descr {
    width: 35%;
    flex-direction: row;
    position: relative;

    .button {
      position: relative;
      margin-right: 2rem;

      .active {
        animation: spin 5s infinite;
      }

      a, .marked {
        font-size: 2rem;
        padding: 2rem;
        @include centering;
        z-index: 2;
        display: block;

        i {
          font-weight: 300;
        }

        &:after {
          content: "";
          display: inline-block;
          @include centering;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: darken($color-yellow-primary, 12%);
          z-index: -3;
        }

        &:before {
          content: "";
          display: inline-block;
          @include centering;
          border-radius: 50%;
          background-color: darken($color-yellow-primary, 15%);
          z-index: -1;
          height: 0;
          width: 0;
          transition: all $default-transition-duration;
        }

        &:hover {
          &:before {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: $color-text-primary;
  }

  p {
    font-size: 1.3rem;
    color: $color-text-gray;
  }

  @include respond-to(medium) {
    background: $color-blue-primary;
    flex-direction: column;
    padding: $default-section-px;

    & > * {
      background-color: #fff;
      width: 100%;
      padding: 2rem 4rem;
    }


    .descr {
      background-color: $color-yellow-primary;
      width: 100%;
    }
  }
}