.services-header {
  width: 100%;
  background-color: $color-blue-primary;
  min-height: 48rem;
  padding-top: 6rem;

  &-content {
    width: 100%;
    max-width: $content-width;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 50%;

      &.wide {
        width: 60%;
      }

      .upper_text {
        margin: 2.4rem 0;
      }

      h1 {
        color: $color-white;
        font-weight: bold;
        font-size: 4.8rem;
        margin-bottom: 3.5rem;
      }

      p  {
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 140%;
      }

      .links {
        display: flex;
        margin-top: 4rem;
        a {
          margin-right: 2rem;
        }
      }
    }

    &__right {
      overflow: hidden;
      position: relative;
      z-index: 1;

      img {
        height: 100%;
        max-width: 70rem;
      }
    }


    @include respond-to(medium) {
      flex-direction: column-reverse;

      &__left {
        padding: 3rem $default-section-px;
        width: 100%;
      }
    }
  }
}