.services-section-slider {
  width: 100%;
  background-color: $color-blue-primary;
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  position: relative;

  &__content {
    width: 100%;
  }
}