.services-section-transparency {
  width: 100%;
  margin-bottom: $default-section-mb;
  margin-top: $default-section-mt;

  &__content {
    width: 100%;
    max-width: $content-width-small;
    margin: auto;

    .item {
      min-height: 1.3rem;
      padding: 4rem;
      display: flex;
      background-color: $color-white;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      &.marked {
        background-color: $color-yellow-primary;
        p {
          color: $color-text-primary !important;
        }
        .left {
          border-right-color: $color-white;
        }
      }

      .left {
        display: flex;
        align-items: center;
        width: 30%;
        border-right: 1px solid $color-gray-light;
        padding-right: 2rem;

        svg {
          fill: transparent;
        }

        h2 {
          font-weight: 500;
          font-size: 2.2rem;
          color: $color-text-primary;
          margin-left: 4rem;


                  }
      }
      .right {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 4rem;

        p {
          font-size: 1.6rem;
          color: $color-text-gray;
          font-weight: 500;
          line-height: 140%;
          &:not(:last-child) {
            margin-bottom: .8rem;
          }
          span {
            font-weight: bold;
            color: $color-text-primary;
          }
        }
      }
    }

    @include respond-to(medium) {
      padding: $default-section-px;

      .item {
        flex-direction: column;

        .left, .right {
          width: 100%;
        }

        .right {
          padding: 0
        }

        .left {
          border: none;
          border-bottom: 1px solid $color-gray;
          padding-bottom: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}