<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>О нашей компании</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome/css/all.min.css">
    <link rel="icon" href="img/favicon.png" type="img/png">
</head>
<body>

<!--Навигация-->
<nav class="nav">
    <div class="nav_content">
        <a href="index.html" class="nav_content-logo">
            <img src="img/logo/logo-white-1x.png" alt="Logo">
        </a>

        <div class="nav_content-menu">
            <ul>
                <li><a href="/services.html">Услуги</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
                <li class="marked"><a href="">Рекламным Агентствам</a></li>
            </ul>
        </div>

        <div class="nav_content-phone">

            <div class="nav_mobile">
                <span></span>
                <img src="icons/nav_mobile.svg" alt="">
            </div>

            <popup-toggle class="number">
                <div class="nav_content-phone-icon">
                    <img src="icons/phone_nav.svg" alt="Phone Icon">
                    <a class="phone_mobile" href="tel:+74952666406"><img src="icons/phone_mobile.svg" alt="" class="phone_mobile"></a>
                </div>
                <p class="num">+7 (495) 266-64-06</p>
            </popup-toggle>

            <div class="popup">
                <p class="title">Работаем по будням</p>
                <p class="time">10:00 - 20:00</p>
                <a href="#" class="btn btn-primary btn-small">Обратный звонок</a>
            </div>
        </div>
    </div>
</nav>

<!--Хедер-->
<header class="services-header about-header margin-nav">
    <div class="services-header-content">
        <div class="services-header-content__left">
            <span class="breadcrumbs color-blue-light">Главная / Услуги /</span>
            <h1>Открытая компания с человеческим лицом</h1>
            <q>
                <img class="quote" src="icons/quotes.svg" alt="">
                Если вам нужна наружная реклама, то вы попали по адресу — мы занимаемся этим уже более 20 лет.
                Если вы находитесь в поисках надежного партнера, на которого смогли бы переложить всю головную боль,
                связанную с производством рекламы — мы к вашим услугам.
            </q>
            <span class="divider"></span>
            <div class="descr">
                <h3>Иван Иванов</h3>
                <p>генеральный директор</p>
            </div>
        </div>
        <div class="services-header-content__right about-right">
            <img src="img/gendir.jpg" alt="gendir">
            <div class="banner">
                <h1>Работаем с 1999 года</h1>
                <p>Благодаря этому мы накопили большой опыт, который положительно сказывается на качестве продукции, которую выпускает наша компания. </p>
            </div>
        </div>
    </div>
</header>

<main>

    <!--О нас (мы пиздатые клапаны)-->
    <section class="about-section-slider">

        <div class="about-section-header">
            <div class="title">
                <h1>Мы не агентство, у нас собственное производство и автотранспорт</h1>
            </div>

            <div class="descr">
                <p>На одной территории и в постоянном контакте друг с другом расположены наши цеха: сборочный, сварочный, фрезерно-раскроечный и цех интерьерной широкоформатной печати. Это большое поточное производство.</p>
                <p>Как только вывеска изготовлена, бригада монтажников выезжает на ваш объект, чтобы ее установить. Мы все делаем своими силами и на собственном оборудовании. Благодаря этому вы получаете доступные цены и превосходное качество продукции и обслуживания в целом.</p>
            </div>
        </div>

        <div class="slider">

            <div class="slider__content">

                <div class="item">
                    <div class="image">
                        <img src="img/services/signboards/slider-1.png" alt="">
                    </div>
                    <p>Вывеска для фирменного магазина бренад «ZASPORT»</p>
                </div>

                <div class="item">
                    <div class="image">
                        <img src="img/services/signboards/slider-1.png" alt="">
                    </div>
                    <p>Вывеска для фирменного магазина бренад «ZASPORT»</p>
                </div>

                <div class="item">
                    <div class="image">
                        <img src="img/services/signboards/slider-1.png" alt="">
                    </div>
                    <p>Вывеска для фирменного магазина бренад «ZASPORT»</p>
                </div>

                <div class="item">
                    <div class="image">
                        <img src="img/services/signboards/slider-1.png" alt="">
                    </div>
                    <p>Вывеска для фирменного магазина бренад «ZASPORT»</p>
                </div>

                <div class="item">
                    <div class="image">
                        <img src="img/services/signboards/slider-1.png" alt="">
                    </div>
                    <p>Вывеска для фирменного магазина бренад «ZASPORT»</p>
                </div>

            </div>

            <div class="arrows">
                <div class="left"><i class="fa fa-long-arrow-left"></i></div>
                <div class="right"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </div>

    </section>

    <!--Почему мы пиздатые клапаны-->
    <section class="about-section-faster">
        <div class="cafe-vertical content-width">
            <div class="left">
                <h2>Мы втрое быстрее конкурентов</h2>
            </div>
            <div class="center">
                <p>И в этом нет ничего необычного — все дело в людях и станках. Среди нашего персонала нет «новичков», все люди с большим практическим опытом и каждое их движение доведено до автоматизма.</p>
            </div>
            <div class="image d-flex flex-direction-column justify-content-center">
                <img class="" src="icons/3+.svg" alt="">
            </div>
        </div>

        <div class="about-section-header">
            <div class="title">
                <h1>Работаем с проверенными поставщиками и используем надежные материалы</h1>
            </div>

            <div class="descr">
                <p>За годы работы мы набили много шишек, но зато теперь точно знаем, с какими комплектующими стоит работать, а какие нужно избегать. Мы много лет закупаемся у проверенных поставщиков и получаем от них скидки, которыми делимся с вами при образовании цены за наружную рекламу.</p>
            </div>
        </div>

        <div class="about-section-faster__content">
            <div class="partners">
                <div class="item">
                    <img src="img/about/partner-1.png" alt="">
                </div>
            </div>

            <div class="clients">
                <div class="left">
                    <img src="icons/cafe-vertical.svg" alt="">
                    <h1>Изготавливаем вывески любой сложности</h1>
                    <p>И используем для этого новейшее оборудование. Например, боковины букв мы изготавливаем из алюминиевого сплава, тогда как 99% производителей по-прежнему используют ПВХ-пластик. </p>
                    <a href="#" class="btn-primary">Получить образцы букв бесплатно</a>
                </div>

                <div class="right">
                    <h1 class="title">Среди наших клиентов</h1>
                    <div class="content">
                        <div class="item">
                            <img src="img/about/client-1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/about/client-2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/about/client-3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/about/client-4.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/about/client-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Карта работ-->
    <section class="section-map">
        <div class="section-map__content">
            <div class="content">
                <div class="left">
                    <h2>
                        Работаем по всей России
                    </h2>
                    <p>
                        Начиная с 1999 года мы изготовили уже более 3 000 объектов наружной рекламы и разместили их в самых разных уголках Москвы, Санкт-Петербурга, Воронежа, Архангельска, Нижнего-Новгорода и еще порядка 10 городов России.
                    </p>
                </div>
                <div class="right">
                    <div class="item">
                        <h1>1999</h1>
                        <p>год основания</p>
                    </div>
                    <div class="item">
                        <h1>3000</h1>
                        <p>объектов</p>
                    </div>
                    <div class="item">
                        <h1>10</h1>
                        <p>городов</p>
                    </div>
                </div>
            </div>
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A44cd8d51ccb0c441f160bf440775fe85054890d4a016ec5830587b686583784a&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </section>

    <!--Отзывы-->
    <section class="about-section-reviews">

        <div class="section-title">
            <h3>Отзывы</h3>
        </div>

        <div class="about-section-reviews__content about-reviews review-parent">

            <div class="close"></div>

            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>


            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>


            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>


            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>


            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>


            <div class="item">
                <div class="title">
                    <h2>Алексей Иванов</h2>
                    <span>Генеральный директор ООО «ОптПромТорг»</span>
                    <div class="icon">
                        <img src="icons/quotes.svg" alt="">
                    </div>
                </div>
                <span class="divider"></span>
                <div class="content">
                    <p>«Исчисление предикатов непредсказуемо. Аксиома силлогизма ментально принимает во внимание неоднозначный конфликт. Апостериори, деятельности подчеркивает дедуктивный метод. Отношение к современности индуцирует закон исключённого третьего,
                        учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Гештальтпсихология примитивный интеллект»</p>
                </div>
            </div>

        </div>

        <div class="button about-more">
            <a class="btn-alt show-more">показать больше отзывов</a>
        </div>

    </section>

    <!--Менеджер работает ртом и не только-->
    <section class="services-header about-header">
        <div class="services-header-content">
            <div class="services-header-content__left">
                <h1>Ваш персональный менеджер всегда на связи</h1>
                <p>Если у вас возникнут вопросы или понадобится поставить новую задачу, вы можете связаться с персональным менеджером по прямому номеру и решить все оперативно.</p>
                <span class="divider"></span>
                <div class="descr">
                    <h3>Эдгар Эдуардович</h3>
                    <p>персональный менеджер</p>
                </div>
            </div>
            <div class="services-header-content__right about-right">
                <img style="margin-top: -100px" src="img/manager.png" alt="manager">
            </div>
        </div>
    </section>

    <!--call to action с рулеткой-->
    <call-to-action class="spinning-button call_to_action half-up">
        <div class="image">
            <img class="active" src="icons/ruletka.svg" alt="ruletka">
            <div class="disabled">
                <img src="icons/freeicon.svg" alt="freeicon">
            </div>
        </div>
        <div class="content">
            <h2>Пригласите нашего специалиста для проведения замеров</h2>
            <p>Рассчитаем точные параметры будущей конструкции, назовем цену, сроки изготовления и ответим на любые вопросы на месте.</p>
        </div>
        <div class="button">
            <a class="btn btn-primary" href="#">Пригласить специалиста</a>
            <img src="icons/freeicon.svg" alt="freeicon">
        </div>
    </call-to-action>

    <!--Контакты-->
    <section class="contact-us mt-5">

        <div class="contact-us__content">
            <!--min-height: 54rem-->
            <div class="contact-us__content-left">
                <div class="background">
                    <img src="img/contact/section-bg.svg" alt="Contact Background">
                </div>
                <div class="top">
                    <h1 class="title">Остались вопросы?</h1>
                    <p class="descr">Свяжитесь с нами для получения консультации. Подберем решение в соответствии с вашим бюджетом, расскажем об успешных кейсах и ответим на любые вопросы.</p>
                </div>
                <div class="bottom">
                    <h1 class="phone">+7 (495) 266-64-06</h1>
                    <p class="descr">Пн. — Пт., с 10:00 до 20:00</p>
                </div>
            </div>
            <div class="contact-us__content-right">
                <div class="top">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6b230446370d38ed7acc15536518a9bdd406d115a8e408806684da8b7f6bb42a&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                <div class="bottom">
                    <div class="descr"><p>Наш адресс</p>
                        <h3 class="address">Московская область, Одинцовский городской округ, село Немчиновка, 2-й просек, дом 22.</h3>
                    </div>
                    <div class="pointer">
                        <img src="icons/pointer.svg" alt="pointer">
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <p>ПринтСпринт &copy; 1999-2020 </p>
    <a href="#" target="_blank">Политика конфиденциальности</a>
</footer>

<script src="scripts/assets/jquery.min.js"></script>
<script src="scripts/assets/slick.min.js"></script>
<script src="scripts/elements.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/layout.js"></script>
</body>
</html>