$content-width: 125rem;
$default-border-radius: 4px;
$default-transition-duration: .7s;
$service-action-width: 110rem;
$content-width-small: 105rem;
$default-section-mt: 10rem;
$default-section-mt-large: 12rem;
$default-section-mb-large: 20rem;
$default-section-mb: 10rem;

$big: 1350px;
$medium: 1020px;