$color-blue-primary: #253D93;
$color-blue-primary-hover: #75BDFF;
$color-blue-primary-dark: #1E3176;
$color-blue-lighter: #2F48A5;

$color-white: #fff;



$color-yellow-primary: #FFB240;
$color-orange-primary: #E43232;

$color-gray-primary: #F4F4F4;
$color-gray: #acafb9;
$color-gray-light: #D0D0D0;

$color-text-primary: #323A56;
$color-text-gray: #595f74;

