.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-blue-primary;
  font-size: 1.4rem;
  z-index: 10;

  &_content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-blue-lighter;
    padding: 1.6rem 0;
    max-width: $content-width;
    width: 100%;

   &-menu {
       margin-right: -3rem;

     ul {
       list-style: none;
       display: flex;

       li {
         margin: 0 1rem;
         text-transform: uppercase;
         font-weight: 600;
         border-bottom: 2px dotted transparent;
         position: relative;

         a {
           font-size: inherit;
         }

         &:after {
           content: "";
           position: absolute;
           bottom: -.2rem;
           left: 0;
           width: 0;
           border-bottom: 2px solid $color-white;
           opacity: .5;
           transition: all .5s ease;
         }

         &.marked:after {
           border-color: $color-yellow-primary;
           opacity: .5;
         }

         &.marked a {
           color: $color-yellow-primary;
         }

         &:hover:after {
           width: 100%;
         }
       }
     }
   }

    .nav_mobile {
      display: none;
    }

    &-phone {
      display: flex;
      align-items: center;
      position: relative;

      .phone_mobile {
        display: none;
      }

      &-icon {
          margin-right: 1rem;
          height: 3rem;
          width: 3rem;

        img {
            height: 100%;
            width: 100%;
        }
      }

      .number {
        display: flex;
      }

      .number p {
        font-size: inherit;
        font-weight: 600;
        color: $color-blue-primary-hover;
        border-bottom: 2px dotted rgba($color-blue-primary-hover, .5);
        transition: all .3s;

        &:hover {
          color: $color-yellow-primary;
          border-bottom: 2px dotted transparent;
        }
      }

      .popup {
        position: absolute;
        top: 180%;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 6px 12px rgba(#000, .5);
        overflow: hidden;
        width: 22rem;
        height: 0;
        transition: all $default-transition-duration ease;

        &.active {
          height: 15rem;
          padding: 2rem 0;
        }

        .title {
          font-size: 1.6rem;
          font-weight: normal;
        }

        .time {
          font-size: 1.6rem;
          font-weight: bold;
          margin-top: .5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  @include respond-to(medium) {
    width: 100%;

    &_content {
      width: 100%;
      padding: 1rem 2rem;

      &-menu {
        display: none;
      }

      &-phone {

        .nav_mobile {
          margin-right: 2rem;
          display: block;
          height: 4.1rem;
          width: 4.1rem;
          position: relative;

          &:after, &:before, span {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 55%;
            background-color: $color-white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:after {
            top: 70%;
          }

          &:before {
            top: 31%;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }

        &-icon {
          width: 4.1rem;
          height: 4.1rem;

          img:not(.phone_mobile) {
            display: none;
          }

          .phone_mobile {
            display: block;
          }
        }

        p {
          display: none;
        }
      }
    }
  }
}