.section-services {
  width: 100%;
  padding-bottom: 3rem;

  .section-title {
    margin: 4rem auto;
  }

  &__content {
    max-width: $content-width;
    width: 100%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
