call-to-action {
  max-width: $content-width;
  width: 100%;
  min-height: 22rem;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  margin: auto;
  margin-bottom: 2rem;

  .image {
    height: 100%;
    background-color: $color-yellow-primary;
    overflow: hidden;

    img{
      margin-bottom: -3px;
      height: 100%;
    }

    .disabled {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding:0 6.6rem;
    width: 60%;

    h2 {
      font-size: 2.4rem;
      width: 65%;
      color: $color-text-primary;
      line-height: 120%
    }
  }

  .button {
    position: relative;
    width: 30%;

    .btn {
      @include centering;
      width: max-content;
      z-index: 2;

    }

    .active {
      animation: spin 5s infinite;
    }

    img {
      margin: auto;
      margin-left: -4rem;
      z-index: 1;
    }
  }

  @include respond-to(medium) {
    width: auto;
    flex-direction: column;
    margin: 4rem 2rem;

    &.half-up {
      margin-top: -19rem;
    }

    .image {
      display: flex;
      width: 100%;

      .active {
        width: 50%;
      }

      .disabled {
        width: 50%;
        position: relative;
        display: block;
        text-align: center;
        background-color: $color-orange-primary;

        img {
          width: 60%;
          fill: $color-white;
          filter: brightness(10);
        }
      }
    }

    .content {
      text-align: center;
      width: 100%;
      padding: 3rem 2rem;

      h2 {
        width: 100%;
      }
    }

    .button {
      width: 100%;

      img {
        display: none;
      }

      .btn {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        transform: none;
        margin: auto;
        margin-bottom: 3rem;
      }
    }
  }
}
