.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  justify-content: space-between;
  position: relative;


  &__content {
    .item {
      width: 83rem;
      height: auto;
      text-align: center;
      display: inline-block;
      margin: auto 5rem;

      image {
        height: 57rem;
        width: 83rem;
        position: relative;
        overflow: hidden;

        img {
          height: 100%;
          width: auto;
          @include centering
        }
      }

      p {
        color: $color-gray;
        font-size: 1.3rem;
        opacity: 0;
        transition: all $default-transition-duration;
      }
    }
  }

  .arrows {
    width: 99rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;

    & > * {
      width: 6rem;
      height: 6rem;
      background-color: $color-white;
      position: relative;

      &:after {
        content: "";
        display: inline-block;
        @include centering;
        height: 0;
        width: 0;
        background-color: $color-gray-primary;
        transition: all $default-transition-duration;
      }
    }

    .right:hover {
      &:after {
        height: 6rem;
        width: 6rem;
      }
    }

    .left:hover {
      &:after {
        height: 6rem;
        width: 6rem;
      }
    }

    i {
      @include centering;
      color: $color-blue-primary;
      font-size: 2rem;
      font-weight: 400;
    }

    @include respond-to(medium) {
      width: min-content;
      top: 95%;
      left: 92%;
    }
  }
}